@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <i>Can you change this to an example of the youtube video?</i><br />
    <strong>Feature</strong>: Google Searching<br />
    <strong>As a</strong> web surfer, <strong>I want</strong> to search Google, <strong>so that I</strong> can learn new things.<br />
    <br />
    <strong>Scenario</strong>: Simple Google search<br />
    <strong>Given</strong> a web browser is on the Google page<br />
    <strong>When</strong> the search phrase "panda" is entered<br />
    <strong>Then</strong> results for "panda" are shown<br />
    <br />
    <i>Can you add textboxes (simple) and a button to recreate a scenario in the video?</i><br />

</div>
